Source: terminus
Maintainer: Sergio Costas <rastersoft@gmail.com>
Priority: optional
Section: misc
Standards-Version: 4.1.3
Homepage: https://github.com/rastersoft/terminus
Build-Depends: build-essential, po-debconf, valac (>=0.30), libc6-dev, libgee-0.8-dev, libkeybinder-3.0-dev, libvte-2.91-dev, cmake, intltool

Package: terminus
Architecture: any
Version: 0.11.0
Depends: libgee-0.8-2, libkeybinder-3.0-0, libvte-2.91-0
Description: A new terminal for X11 and Wayland both for classic,
 in-window terminal, and Guake-like (hot-key drop-down mode)
 terminal. It also allows to split the window both in horizontal
 and vertical, like Terminator, all in one program. Other features
 include a scroll-back buffer, tabs, and the usual compatibility
 features.
 .
